@font-face {
    font-family: 'Noyland-AAA-Regular';
    src: url('/assets/fonts/Noyland-AAA-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Mandatory-29';
    src: url('/assets/fonts/Mandatory-29.otf') format('opentype');
}
@font-face {
    font-family: 'Mandatory-47';
    src: url('/assets/fonts/Mandatory-47.otf') format('opentype');
}
@font-face {
    font-family: 'Mandatory-17';
    src: url('/assets/fonts/Mandatory-17.otf') format('opentype');
}
@font-face {
    font-family: 'Mandatory-18';
    src: url('/assets/fonts/Mandatory-18.otf') format('opentype');
}
@font-face {
    font-family: 'Mandatory-29 Shaded';
    src: url('/assets/fonts/Mandatory-29 Shaded.otf') format('opentype');
}
@font-face {
    font-family: 'Mandatory-36';
    src: url('/assets/fonts/Mandatory-36.otf') format('opentype');
}
@font-face {
    font-family: 'ALMONI-DL-AAA-LIGHT';
    src: url('/assets/fonts/ALMONI-DL-AAA-LIGHT.OTF') format('opentype');
}
@font-face {
    font-family: 'stanga-aaa-regular';
    src: url('/assets/fonts/stanga-aaa-regular.otf') format('opentype');
}
@font-face {
    font-family: 'noyland-aaa-extrabold';
    src: url('/assets/fonts/noyland-aaa-extrabold.otf') format('opentype');
}

body {
    direction: rtl;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0px;
}

.navbar-brand {
    padding-left: 60px;
    background: url(/assets/images/logo100x100.png) no-repeat;
    background-size: contain;
}

.fb-button-box {
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 60px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -5px;
    background: rgb(244, 248, 255);
}

.poster-editor {
    margin-top: 70px;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.pc-post {
    margin-bottom: 10px;
    background: rgb(231, 231, 231);
    padding: 5px 10px;
}
.pc-post-type {
    font-size: 0.8em;
}

.pc-post-message {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #bbb;
}

.pc-comment {
    background: #aaa;
    padding: 5px;
    margin-bottom: 8px;
    cursor: pointer;
}

.pc-comment:hover {
    background: #bbb;
}

.pc-comment-from {
    font-weight: bold;
}

.btn-load-more {
    width: 100%;
    margin-bottom: 10px;
}

.pc-post-picture {
    text-align: center;
}

.pc-post-caption {
    font-size: 0.9em;
    color: #888;
}

.poster-container {
    overflow: hidden;
    margin: auto;
    position: fixed;
    box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.29);
}

.poster-comment-valign {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    z-index: 2;
    position: relative;
}

.poster-comment {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    margin-top: -30%;
    opacity: 1.00;

    .poster-comment-quotes {
        line-height: 0px;
        margin-top: 30px;
    }
}

.poster-comment-tooltip {
    color: #aaa;
}

.poster-comment-text {
    // font-family: 'Mandatory-29';
    word-break: break-word;
    font-size: 2.5em;
    text-rendering: geometricPrecision;
    line-height: 112%;

    .highlighted {
        text-decoration: underline;
    }

    .suspected {
        // background: white;
        // opacity: 0;
        display: none;
    }
}

.poster-comment-from {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.80em;
    font-style: italic;
}

.poster-icons-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.icon-image {
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-pink-hands {
    background-image: url('/assets/images/ok-lc.png');
}
.icon-heart {
    background-image: url('/assets/images/heart-lc.png');
}
.icon-kaki {
    background-image: url('/assets/images/poop.png');
}
.icon-fish {
    background-image: url('/assets/images/fish.png');
}
.icon-brain {
    background-image: url('/assets/images/brain.png');
}
.icon-astronaut {
    background-image: url('/assets/images/astronaut.png');
}
.icon-scream {
    background-image: url('/assets/images/scream.png');
}
.icon-popsicle {
    background-image: url('/assets/images/popsicle.png');
}
.icon-fist {
    background-image: url('/assets/images/fist.png');
}

.debug-box {
    direction: ltr;
    position: fixed;
    z-index: 10000000;
    top: 61px;
    left: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border: 1px solid #bbb;

    > div {
        margin-top: 10px;

        > div {
            margin-bottom: 6px;
        }
    }

    .btn {
        width: 100%;
        padding: 2px;
        font-size: 0.8em;
    }
}
