<div ng-include="'components/navbar/navbar.html'"></div>
<div class="debug-box">

    <button class="btn btn-default" ng-click="showDebugBox = !showDebugBox">Toggle</button>

    <div ng-show="showDebugBox">
        <div ng-repeat="(name, data) in appData" ng-if="name !== 'knownWords'">

            <span style="display: inline-block; width: 100px">{{name}}</span>
            <select ng-model="debugOptions[name]" ng-change="onDebugOptionChange(name)">
                <option ng-repeat="option in data" value="{{$index}}">{{option.label}}</option>
            </select>

        </div>
    </div>
</div>

<div class="assets-preloader">
    <div ng-repeat="font in appData.fonts">
        <span style="font-family: '{{font.name}}'"></span>
    </div>
    <div ng-repeat="icon in appData.icons">
        <div class="{{icon.className}}"></div>
    </div>
</div>

<div class="container poster-editor">
    <div class="row">
        <div class="col-sm-7">
            <div class="poster-container">
                <div class="poster-bg" style="background-color: {{bgColor.value}}">
                    <div class="poster-icons-container">
                        <div ng-repeat="item in layout.data track by $index"
                            style="
                                position: absolute;
                                right: {{item.x * 100}}%;
                                top: {{item.y * 100}}%;
                                transform: scale({{item.scale}});
                            "
                        >
                            <div id="iconImage{{$index}}" class="icon-image {{icon.className}}" ng-style="iconCSS"></div>
                        </div>
                    </div>
                    <div class="poster-comment-valign">
                        <div class="poster-comment-tooltip" ng-if="!selectedComment">
                            (select a comment)
                        </div>
                        <div class="poster-comment" ng-show="selectedComment" style="color: {{textColor.value}}">
                            <div id="posterCommentText" class="poster-comment-text" style="line-height: {{font.lineHeight}}">
                                <div class="poster-comment-quotes">&rdquo;</div>
                                <div id="commentHTML"></div>
                                <div class="poster-comment-quotes">&ldquo;</div>
                            </div>
                            <div class="poster-comment-from">&mdash; {{selectedComment.from.name}} &mdash;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="pc-post" ng-repeat="post in posts">
                <div class="pc-post-message">
                    <div ng-if="post.picture" class="pc-post-picture">
                        <img ng-src="{{post.picture}}">
                        <div ng-if="post.caption" class="pc-post-caption">({{post.caption}})</div>
                    </div>
                    <strong style="font-size: 0.9em">{{$index}}</strong>
                    <span ng-bind-html="post.message"></span>
                </div>
                <div class="pc-post-comments">
                    <div class="pc-comment" ng-repeat="comment in post.comments.data" ng-click="onCommentClick(comment)">
                        <span class="pc-comment-from">{{comment.from.name}} ({{proximity(comment.from.id)}}):</span>
                        <span class="pc-comment-message">{{comment.message}}</span>
                    </div>
                </div>
                <div class="pc-post-type"><strong>Type:</strong> {{post.type}}</div>

            </div>
            <button class="btn btn-default btn-load-more" ng-click="loadMore()" ng-disabled="isLoadingPosts">Load More</button>
        </div>
    </div>
</div>
<!--
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
 -->
