<style>
body {
    background-color: #F2F2F2;
}
</style>

<!-- <div id="printStyleContainer">
    <style>

    @media print {
        .poster-container {
            transform: scale(1.28);
        }
    }

    </style>
</div> -->
<div ng-include="'components/navbar/navbar.html'" class="hidden-print"></div>
<div class="container hidden-print">
    <div class="debug-box">

        <button class="btn btn-default" ng-click="onSave()">Save</button>
        <button class="btn btn-default" ng-click="showDebugBox = !showDebugBox">Toggle</button>

        <div ng-show="showDebugBox">
            <div ng-repeat="(name, data) in appData" ng-if="name !== 'knownWords'">

                <span style="display: inline-block; width: 100px">{{name}}</span>
                <select ng-model="debugOptions[name]" ng-change="onDebugOptionChange(name)">
                    <option ng-repeat="option in data" value="{{$index}}">{{option.label}}</option>
                </select>

            </div>
        </div>
    </div>
</div>

<div class="assets-preloader">
    <div ng-repeat="font in appData.fonts">
        <span style="font-family: '{{font.name}}'"></span>
    </div>
    <div ng-repeat="icon in appData.icons">
        <div class="{{icon.className}}"></div>
    </div>
</div>

<div class="container poster-editor" style="width: 100%;">
    <div class="flex">
        <div style="flex: 0 0 430px" class="hidden-print">
            <div class="pc-post" ng-repeat="post in posts">
                <div class="pc-post-from">
                    <img ng-src="http://graph.facebook.com/v2.3/{{ post.from.id }}/picture">
                    <div class="pc-post-from-name">{{ post.from.name }}</div>
                    <div class="pc-post-from-date">{{ post.created_time | date:'MMMM d, y' }} at {{ post.created_time | date:'h:mma' }}
                    </div>
                </div>
                <div class="pc-post-message">
                    <div class="pc-post-message-text" data-dir-detect="post.message" ng-bind-html="post.message"></div>
                    <div ng-if="post.full_picture" class="pc-post-picture">
                        <img ng-src="{{post.full_picture}}">
                        <div ng-if="post.caption" class="pc-post-caption">({{post.caption}})</div>
                    </div>
                    <!-- <strong style="font-size: 0.9em">{{$index}}</strong> -->
                </div>
                <div class="pc-post-comments" ng-if="post.comments.data.length">
                    <div class="pc-comment" ng-repeat="comment in post.comments.data" ng-click="onCommentClick(comment)">
                        <div class="pc-post-from">
                            <img ng-src="http://graph.facebook.com/v2.3/{{ comment.from.id }}/picture">
                            <div class="pc-post-from-name">{{ comment.from.name }} <!--({{proximity(comment.from.id)}})--></div>
                            <div class="pc-post-from-date">{{ comment.created_time | date:'MMMM d, y' }} at {{ comment.created_time | date:'h:mma' }}
                            </div>
                        </div>
                        <div class="pc-comment-message" data-dir-detect="comment.message">{{comment.message}}</div>
                    </div>
                </div>
                <!-- <div class="pc-post-type"><strong>Type:</strong> {{post.type}}</div> -->

            </div>
            <button class="btn btn-default btn-load-more" ng-click="loadMore()" ng-disabled="isLoadingPosts">Load More</button>
        </div>
        <div style="flex: 1" id="posterContainerCol" >
            <div id="mainPoster" class="poster"
                comment    = "selectedComment"
                font       = "font"
                layout     = "layout"
                bg-color   = "bgColor"
                text-color = "textColor"
                icon       = "icon"
                animate    = "true"
                width      = "{{ posterWidth }}"
                height     = "{{ posterHeight }}"
                style      = "margin-left: {{ posterMargin }}px"
            ></div>
        </div>
        <div style="flex: 0 0 200px" class="hidden-print">
            <div id="gallery" class="gallery">
                <div ng-repeat="poster in gallery.posters">
                    <!-- {{poster._id}} -->
                    <!-- {{poster.comment.message}} -->
                    <div class="poster"
                        comment    = "poster.comment"
                        font       = "poster.font"
                        layout     = "poster.layout"
                        bg-color   = "poster.bgColor"
                        text-color = "poster.textColor"
                        icon       = "poster.icon"
                        animate    = "false"
                        width      = "175"
                        height     = "247"
                    ></div>
                    <button class="btn btn-danger" ng-click="deletePoster(poster)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
 -->
