<style>
body {
    background-color: #F2F2F2;
}
</style>

<div ng-include="'components/navbar/navbar.html'" class="hidden-print"></div>
<div class="container hidden-print">
    <div class="debug-box">

        <button class="btn btn-default" ng-click="randomize = !randomize">Randomize</button>

        <div ng-show="showDebugBox">
            <div ng-repeat="(name, data) in appData" ng-if="name !== 'knownWords'">

                <span style="display: inline-block; width: 100px">{{name}}</span>
                <select ng-model="debugOptions[name]" ng-change="onDebugOptionChange(name)">
                    <option ng-repeat="option in data" value="{{$index}}">{{option.label}}</option>
                </select>

            </div>
        </div>
    </div>
</div>

<div class="assets-preloader">
    <div ng-repeat="font in appData.fonts">
        <span style="font-family: '{{font.name}}'"></span>
    </div>
    <div ng-repeat="icon in appData.icons">
        <div class="{{icon.className}}"></div>
    </div>
</div>

<div class="container poster-editor" style="width: 100%;">
    <div class="flex-container">
        <div class="posts-column hidden-print">
            <div class="first-load-spinner" ng-show="firstLoad"><i class="fa fa-circle-o-notch fa-spin"></i></div>
            <div class="pc-post" ng-repeat="post in posts" ng-class="{ shake: post.isShaking }">
                <div class="pc-post-from" ng-click="shakeMe(post)">
                    <img ng-src="http://graph.facebook.com/v2.3/{{ post.from.id }}/picture">
                    <div class="pc-post-from-name">{{ post.from.name }}</div>
                    <div class="pc-post-from-date">{{ post.created_time | date:'MMMM d, y' }} at {{ post.created_time | date:'h:mma' }}
                    </div>
                </div>
                <div class="pc-post-message" ng-click="shakeMe(post)">
                    <div class="pc-post-message-text" data-dir-detect="post.message" ng-bind-html="post.message"></div>
                    <div ng-if="post.full_picture" class="pc-post-picture">
                        <div class="pc-post-picture-container">
                            <img ng-src="{{post.full_picture}}">
                        </div>
                        <div ng-if="post.caption" class="pc-post-caption">({{post.caption}})</div>
                    </div>
                    <!-- <strong style="font-size: 0.9em">{{$index}}</strong> -->
                </div>
                <div class="pc-post-comments" ng-if="post.comments.data.length">
                    <div class="pc-comment" ng-repeat="comment in post.comments.data" ng-click="onCommentClick(comment)" ng-class="{ selected: selectedComment === comment }">
                        <div class="selected-state">
                            <i class="fa fa-check"></i>Repostered
                        </div>

                        <div class="pc-post-from">
                            <img ng-src="http://graph.facebook.com/v2.3/{{ comment.from.id }}/picture">
                            <div class="pc-post-from-name">{{ comment.from.name }} <!--({{proximity(comment.from.id)}})--></div>
                            <div class="pc-post-from-date">{{ comment.created_time | date:'MMMM d, y' }} at {{ comment.created_time | date:'h:mma' }}
                            </div>
                        </div>
                        <div class="pc-comment-message" data-dir-detect="comment.message">{{comment.message}}</div>
                    </div>
                </div>
                <!-- <div class="pc-post-type"><strong>Type:</strong> {{post.type}}</div> -->

            </div>
            <button class="btn btn-default btn-load-more" ng-click="loadMore()" ng-disabled="isLoadingPosts" ng-hide="firstLoad">Load More</button>
        </div>
        <div class="poster-column" id="posterContainerCol" >
            <div id="posterMargin" style="flex: 0 0 {{ posterWidth }}px; -webkit-flex: 0 0 {{ posterWidth }}px;">
                <div id="mainPoster" class="poster"
                    comment    = "selectedComment"
                    font       = "font"
                    layout     = "layout"
                    bg-color   = "bgColor"
                    post       = "post"
                    text-post  = "textPost"
                    text-color = "textColor"
                    giant-text = "giantText"
                    icon       = "icon"
                    animate    = "true"
                    proximity  = "closeness"
                    known-word = "knownWord"
                    width      = "{{ posterWidth }}"
                    height     = "{{ posterHeight }}"
                    saved      = "isPosterSaved"
                ></div>
            </div>
            <div class="publish-buttons hidden-print" style="margin-left: {{ posterWidth / 2 + 35 }}px">
                <button ng-disabled="!selectedComment || disableSave" ng-click="onSave()" class="poster-button save-button">Save</button>
                <button ng-disabled="!selectedComment" ng-click="onShare()" class="poster-button share-button">Share</button>
                <button ng-disabled="!selectedComment" ng-click="onPrint()" class="poster-button print-button">Print</button>
            </div>
        </div>
        <div class="sidebar-column hidden-print">
            <div class="sidebar">

                <div class="sidebar-header">Info</div>
                <div class="info-items">
                    <div class="info-item">
                        <div class="info-item-label">Author</div>
                        <div class="info-item-value info-item-commenter">
                            <span>{{ selectedComment.from.name }}</span>
                            <img class="commenter-avatar" ng-src="http://graph.facebook.com/v2.3/{{ selectedComment.from.id }}/picture">
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-item-label">Engagement</div>
                        <div class="info-item-value">
                            <div class="engagement-bar" style="height: {{ eBars[0].height * 35 }}px;"></div>
                            <div class="engagement-bar" style="height: {{ eBars[1].height * 35 }}px;"></div>
                            <div class="engagement-bar" style="height: {{ eBars[2].height * 35 }}px;"></div>
                            <div class="engagement-bar" style="height: {{ eBars[3].height * 35 }}px;"></div>
                            <div class="engagement-bar" style="height: {{ eBars[4].height * 35 }}px;"></div>
                            <div class="engagement-bar" style="height: {{ eBars[5].height * 35 }}px;"></div>
                            <div class="engagement-bar" style="height: {{ eBars[6].height * 35 }}px;"></div>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-item-label">Closeness</div>
                        <div class="info-item-value">
                            <div class="closeness-bar-container" ng-if="selectedComment">
                                <div class="closeness-bar-value" style="left: {{ closeness * 100 }}%">
                                    <div class="number">{{ closeness * 100 | number:1 }}</div>
                                    <div class="thingy"></div>
                                </div>
                                <div class="closeness-bar" ng-repeat="bar in closenessBars" style="opacity: {{ bar.opacity }};"></div>
                            </div>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-item-label">Words</div>
                        <div class="info-item-value">
                            <span ng-hide="knownWords.length" ng-if="selectedComment">(none)</span>
                            <span ng-repeat="word in knownWords track by $index">{{ word }}<span ng-if="!$last">&nbsp;,</span></span>
                        </div>
                    </div>
                </div>

                <div class="sidebar-header">Controls</div>
                <div class="poster-controls">
                    <div class="poster-controls-params">
                        <div class="poster-controls-param" ng-repeat="control in controls" ng-class="{selected: control.selected}" ng-click="selectControl(control)">
                            {{ control.label }}
                            <i class="fa fa-caret-right"></i>
                        </div>
                    </div>
                    <div class="poster-controls-values">
                        <div class="poster-controls-value" ng-repeat="value in selectedControl.data" ng-class="{ selected: $index === debugOptions[selectedControl.name] }" ng-click="onDebugOptionChange(selectedControl.name, $index)">
                            {{ value.label }}
                        </div>
                    </div>
                </div>

                <div class="copyright">
                    Reposter &copy; 2015<br/>
                    <a href="mailto:akaname1@gmail.com">Contact</a>
                </div>

            </div>
        </div>
    </div>
</div>
