<style>
body {
    background-color: #F2F2F2;
}
</style>

<div ng-include="'components/navbar/navbar.html'" class="hidden-print"></div>
<div class="container hidden-print">
    <div class="debug-box">

        <button class="btn btn-default" ng-click="onSave()">Save</button>
        <button class="btn btn-default" ng-click="showDebugBox = !showDebugBox">Toggle</button>

        <div ng-show="showDebugBox">
            <div ng-repeat="(name, data) in appData" ng-if="name !== 'knownWords'">

                <span style="display: inline-block; width: 100px">{{name}}</span>
                <select ng-model="debugOptions[name]" ng-change="onDebugOptionChange(name)">
                    <option ng-repeat="option in data" value="{{$index}}">{{option.label}}</option>
                </select>

            </div>
        </div>
    </div>
</div>

<div class="assets-preloader">
    <div ng-repeat="font in appData.fonts">
        <span style="font-family: '{{font.name}}'"></span>
    </div>
    <div ng-repeat="icon in appData.icons">
        <div class="{{icon.className}}"></div>
    </div>
</div>

<div class="container poster-editor" style="width: 100%;">
    <div class="flex-container">
        <div style="flex: 0 0 430px" class="hidden-print">
            <div class="pc-post" ng-repeat="post in posts" ng-class="{ shake: post.isShaking }">
                <div class="pc-post-from">
                    <img ng-src="http://graph.facebook.com/v2.3/{{ post.from.id }}/picture">
                    <div class="pc-post-from-name">{{ post.from.name }}</div>
                    <div class="pc-post-from-date">{{ post.created_time | date:'MMMM d, y' }} at {{ post.created_time | date:'h:mma' }}
                    </div>
                </div>
                <div class="pc-post-message" ng-click="shakeMe(post)">
                    <div class="pc-post-message-text" data-dir-detect="post.message" ng-bind-html="post.message"></div>
                    <div ng-if="post.full_picture" class="pc-post-picture">
                        <div class="pc-post-picture-container">
                            <img ng-src="{{post.full_picture}}">
                        </div>
                        <div ng-if="post.caption" class="pc-post-caption">({{post.caption}})</div>
                    </div>
                    <!-- <strong style="font-size: 0.9em">{{$index}}</strong> -->
                </div>
                <div class="pc-post-comments" ng-if="post.comments.data.length">
                    <div class="pc-comment" ng-repeat="comment in post.comments.data" ng-click="onCommentClick(comment)" ng-class="{ selected: selectedComment === comment }">
                        <div class="pc-post-from">
                            <img ng-src="http://graph.facebook.com/v2.3/{{ comment.from.id }}/picture">
                            <div class="pc-post-from-name">{{ comment.from.name }} <!--({{proximity(comment.from.id)}})--></div>
                            <div class="pc-post-from-date">{{ comment.created_time | date:'MMMM d, y' }} at {{ comment.created_time | date:'h:mma' }}
                            </div>
                        </div>
                        <div class="pc-comment-message" data-dir-detect="comment.message">{{comment.message}}</div>
                    </div>
                </div>
                <!-- <div class="pc-post-type"><strong>Type:</strong> {{post.type}}</div> -->

            </div>
            <button class="btn btn-default btn-load-more" ng-click="loadMore()" ng-disabled="isLoadingPosts">Load More</button>
        </div>
        <div style="flex: 1" id="posterContainerCol" >
            <div style="margin-left: {{ posterMargin }}px">
                <div id="mainPoster" class="poster"
                    comment    = "selectedComment"
                    font       = "font"
                    layout     = "layout"
                    bg-color   = "bgColor"
                    text-color = "textColor"
                    icon       = "icon"
                    animate    = "true"
                    width      = "{{ posterWidth }}"
                    height     = "{{ posterHeight }}"
                ></div>
            </div>
        </div>
        <div style="flex: 0 0 200px" class="hidden-print">
            <div id="gallery" class="gallery">
                <div ng-repeat="poster in gallery.posters">
                    <!-- {{poster._id}} -->
                    <!-- {{poster.comment.message}} -->
                    <div class="poster"
                        comment    = "poster.comment"
                        font       = "poster.font"
                        layout     = "poster.layout"
                        bg-color   = "poster.bgColor"
                        text-color = "poster.textColor"
                        icon       = "poster.icon"
                        animate    = "false"
                        width      = "175"
                        height     = "247"
                    ></div>
                    <div class="main-gallery-poster-info">
                        <div class="main-gallery-poster-credit">By Amos Shmuel</div>
                        <hr class="main-gallery-poster-hr"/>
                        <div class="main-gallery-poster-buttons">
                            <div><i class="fa fa-print"></i></div>
                            <div><i class="fa fa-facebook"></i></div>
                            <div><i class="fa fa-shopping-cart"></i></div>
                        </div>
                    </div>
                    <!-- <button class="btn btn-danger" ng-click="deletePoster(poster)">Delete</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
