<div class="jumbo-bg selected-{{selectedImageIndex}}" style="background-color: {{ images[selectedImageIndex].color }}">
	<div class="container">
		<div class="jumbo">
			<div class="logo">
				<div class="logo-bottom-border">
					<img src="assets/images/logo-white.png">
				</div>
			</div>
			<div class="slogan">Turn your Facebook comments into awesome posters, in one click.</div>
			<button class="connect-button" ng-click="loginOauth()">Connect with <i class="fa fa-facebook"></i></button>
			<div class="hero">
				<iframe
					class="hero-image"
					ng-repeat="image in images"
					ng-if="image.selected"
					src="{{ image.iframeUrl }}"
					allowtransparency="true"
					style="opacity: 0; margin-left: {{ image.marginLeft }}px"
					onload="this.style.opacity = 1"
				></iframe>
			</div>
			<div class="paging">
				<div ng-repeat="image in images" class="page" ng-class="{selected: image.selected}" ng-click="setSelectedImage($index)"></div>
			</div>
		</div>
	</div>
</div>

<div class="gallery-container">
	<div class="gallery-tab-container">
		<div class="gallery-tab">
			<div class="gallery-tab-text" style="color: {{ images[selectedImageIndex].color }}">Gallery</div>
		</div>
	</div>
	<div class="container">
		<div class="counter-container">
			<div class="counter">{{ gallery.posters.length | number }} Posters Created</div>
			<div class="counter-bottom-border"></div>
		</div>
		<div class="main-gallery">
			<div class="main-gallery-line" ng-repeat="line in gallery.lines">
				<div ng-if="$parent.$index < numVisibleLines" class="main-gallery-poster-container" ng-repeat="poster in line">
					<a href="/poster/{{ poster._id }}">
						<div class="main-gallery-poster-border">
							<div class="poster-vignette"></div>
							<div class="poster"
								comment    = "poster.comment"
								font       = "poster.font"
								layout     = "poster.layout"
								bg-color   = "poster.bgColor"
								post       = "poster.post"
								text-post  = "poster.textPost"
								text-color = "poster.textColor"
								giant-text = "poster.giantText"
								icon       = "poster.icon"
								known-word = "poster.knownWord"
								animate    = "false"
								width      = "220"
								height     = "311"
							></div>
						</div>
					</a>
					<div class="main-gallery-poster-info">
						<div class="main-gallery-poster-credit">By {{ poster.creator.name }}</div>
						<hr class="main-gallery-poster-hr"/>
						<div class="main-gallery-poster-buttons">
							<a class="poster-button" href="/poster/{{ poster._id }}?print"><i class="fa fa-print"></i></a>
							<div class="poster-button" ng-click="sharePoster(poster)"><i class="fa fa-facebook"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
